body {
    font-family: Verdana, Arial, sans-serif;
}
td {
    padding: 6px;
    border: 1px solid gray;
}
th {
    background-color: #b7d0ff;
    font-weight: bold;
    padding: 12px 0px 12px 6px;
    border-bottom: 2px solid grey;
}
table {
    border-collapse: collapse;
    font-style: 16px;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}
.center{
    margin: auto;
    padding: 60px;
    width: 60%;
}
h1 {
    text-align: center;
}
tr {
    background-color: #f2f2f2;
}